A:link {font-size:9pt;color:#000000; text-decoration: none} .functionbg { width="13%" 
height="18" } .gdxw { font-size: 9pt; color: #000000 } .gsq { font-size: 9pt; 
color: #FFFFFF; letter-spacing: 1pt } .bottom {font-size:9pt;color:#FFFFFF} A:visited 
{text-decoration: none; font-size:9pt;color:#333333} A:hover {color:#CC0000; text-decoration: 
underline; font-size: 9pt} .td_gwt { font-size: 9pt; line-height: 150% } span 
{ font-size: 9pt } a.btow:link { color: #FFFFFF; text-decoration: none; font-size: 
9pt; }a.btow:hover { color: #FFFFFF; text-decoration: none; font-size: 
9pt; } a.btow:visited { color: #FFFFFF; text-decoration: none; 
font-size: 9pt; } table { font-size: 9pt; color: #000000; line-height: 120% }<br>
 body { font-size: 9pt color: #000000} td { font-size: 
9pt; color: #000000; line-height: 120% } p { font-size: 9pt; 
color: #000000; letter-spacing: 1pt; line-height: 120% } .nwhite { font-size: 
9pt; line-height: 120% } .td_bwt { font-size: 9pt; color: #000000; letter-spacing: 
1pt; line-height: 120% } .td_twt { font-size: 12pt; color: #ff0000 }<br>
