body {
	border: 0;
	margin: 0;
	cursor: default;
	background: buttonface;
}

INPUT{
	FONT-SIZE: 9pt;
	COLOR:#000000;
	HEIGHT: 19px;

	BORDER-TOP-WIDTH: 1px;
	BORDER-BOTTOM-WIDTH: 1px;
	BORDER-LEFT-WIDTH: 1px;
	BORDER-RIGHT-WIDTH: 1px;

	PADDING-TOP: 1px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	PADDING-BOTTOM: 1px;

	BORDER-LEFT-COLOR: #F2F2F2;
	BORDER-BOTTOM-COLOR: #cccccc;
	BORDER-TOP-COLOR: #F2F2F2;
	BORDER-RIGHT-COLOR: #cccccc;
}

textarea {
	border-width: 1;
	border-color: #CCCCCC;
	background-color: #FFFFFF;
	font-family: ו;
	font-size: 9pt;
	font-style: bold;
}

select {border-width: 1;
	border-color: #000000;
	background-color: #FFFFFF;
	font-family: ו;
	font-size: 9pt;
	font-style: bold;
}


#topToolBar {
	background: buttonface;
	width: 100%;
}

.coolButton {
	font: menu;
}

#headerTable {
	border: 1  solid black;
	width: 100%;
	background: window;
}
.dark {
	background: buttonshadow;
	color: white;
	font: icon;
	text-align: right;
	width: 70;
	padding-right: 3;
}

.inputBlock {
	padding-left: 4;
	padding-right: 4;
	padding-bottom: 1;
}

.toBlock {
	color: black;
	font: icon;
	padding: 2;
	padding-left: 4;
	padding: right: 4;
}

#middle	{
	background: buttonface;
	overflow: hidden;
	width: 100%;
	height: 2;
	margin: 0;
}

#visibleText {
	position: relative;
	top: -1; width: 100%;
	border: 2 inset buttonface;
	height: 100%;
}

#editBar td {
	width: 22;
	height: 24;
	padding-top: 0;
	padding-bottom: 0;
}

#editBar1 td {
	width: 22;
	height: 24;
	padding-top: 0;
	padding-bottom: 0;
}

.input2 {
	border: 1 solid window;
	font: 9pt;
	cursor: hand;
	padding:0;
	margin:0;
}


.coolBar {
	font-weight: bold;
	border: 0 solid #BED7DD;
	z-index=2;
	background: buttonface;
}
