<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!--
.wenben{
border:1px solid #9933FF;}
.btn_grey {
	font-family: "ו";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
.wenbenkuang {
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
sml\:QQsml
{
    BEHAVIOR: url("htc/webQQ.htc")
}
.Groupbar {
	background-color: #EFF3F7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #EFF3F7;
	border-right-color: #6186AF;
	border-bottom-color: #6186AF;
	border-left-color: #EFF3F7;
	fontsize:10px;
	cursor: hand;
	font-size: 12px;

}
.ItemHL { 
       cursor:hand;  
       background-color: #C5D5FC; 
       border: #006699; 
       border-style: solid; 
       border-top-width: 1px; 
       border-right-width: 1px; 
       border-bottom-width: 1px; 
       border-left-width: 1px; 
       font-size: 10pt
}
.ItemLL { 
       cursor:hand;  
       background-color: #ECE9D8; 
       border: #ECE9D8; 
       border-style: solid; 
       border-top-width: 1px; 
       border-right-width: 1px; 
       border-bottom-width: 1px; 
       border-left-width: 1px; 
       font-size: 10pt
}

.btm { 
       cursor:hand;  
       background-color: #ECE9D8; 
       font-size: 10pt
}
-->
