<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!--
body{
	margin:0px;
	font-size: 9pt;
}
#navigation{
	background:url(../images/bg_navigation.gif) repeat-x;
	height:35px;
	text-align:center;
	line-height:35px;
	margin:0;
	padding:0px;
}
#copyright{
	background:url(../images/bg_copyright.jpg) repeat-x;
	text-align:center;
	padding-top:1px;
	padding-bottom:1px;
	font-size:9pt;
}
#copyright ul{
	list-style:none;
	line-height:20px;
}
#main{
	background:url(../images/bg_main.jpg);
	height:600px;
}
#shadeDiv{
	filter:alpha(Opacity=35);opacity:0.35;background:#000;position:absolute;
}
#scrollScrip{
	background:url(../images/bg_navigation.gifzz) repeat-x;
	height:35px;
	text-align:left;
	line-height:35px;
	margin:0;
	padding-left:20px;
}
td{
	font-size: 9pt;	line-height:150%;
}
a:hover{
	font-size: 9pt;	color: #FF4400;
}
a{
	font-size: 9pt;	text-decoration: none;color: #3C404D;
}
.btn_grey {
	font-family: "ו";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
input{
	font-family: "ו";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
.wenbenkuang{
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
	background-image:url(../images/mrbccd.jpg);
	background-repeat:no-repeat;
	background-position:right bottom;
}
#header{background:url(../images/banner.gif) repeat-x; height:186;margin:0;padding:0}
#main{background:url(../images/bg.jpg);height:535px; background-image:url(../images/bg.jpg)}
#footer{font-size:8pt;background:url(../images/bg_bottom.jpg) repeat-x left top;text-align:center;padding-top:183px}
#menu{background:url(../images/bg_search.gif) repeat-x;height:31px; border-top:2px solid #3D9A13;border-bottom:2px solid #3D9A13;padding:2px 0 0 5px;}
#nmarquee{width:90%;float:left;overflow:hidden}
#newest{background:url(../images/bg_search.gif) repeat-x top; height:12px; border-bottom:2px solid #3D9A13;}
#ntitle{background:url(../images/bg_search1.gif) repeat-x top; float:left;height:25px;color:#FF0033; padding-top:6px;padding-left:8px;width:100px} 
#space{ width:1%;float:left;}
#mainList{background:#fff url(../images/bg_list.jpg) repeat-x bottom;text-align:center;padding:1px 0 87px 0;}
-->
