TD {
	FONT-SIZE: 9pt; FONT-FAMILY: "ו"
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #999999; TEXT-DECORATION: underline
}
.pt105 {
	FONT-SIZE: 10.5pt; FONT-FAMILY: "ו"
; line-height: 16pt
}
.pt9n {  font-family: "ו"; font-size: 9pt; line-height: 14pt}
