TD {
	FONT-SIZE: 9pt; FONT-FAMILY: "ו"
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000FF; TEXT-DECORATION: none
}
.pt105 {
	FONT-SIZE: 10.5pt; FONT-FAMILY: "ו"
; line-height: 16pt
}
