<!--
td           { font-size: 9pt;font_name:ו;; line-height: 16pt}
a:hover      { color: #00D8FF; text-decoration: underline; font-size: 9pt }
a            { font-size: 9pt; color: #708E98; text-decoration: none }
p {  font-size: 9pt; font-family: "ו"; line-height: 11pt}
.dt { font-size:9pt}
INPUT.Style_button {
	BORDER-RIGHT: #527184 1px solid; BORDER-TOP: #527184 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #A2BCC5; BORDER-LEFT: #527184 1px solid; COLOR: #ffffff; LINE-HEIGHT: normal; BORDER-BOTTOM: #527184 1px solid; FONT-STYLE: normal; HEIGHT: 17px;width: 40px; FONT-VARIANT: normal
}
INPUT.Sytle_text {
	BORDER-RIGHT: #A2BCC5 1px solid; BORDER-TOP: #A2BCC5 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #A2BCC5 1px solid; LINE-HEIGHT: normal; BORDER-BOTTOM: #A2BCC5 1px solid; FONT-STYLE: normal; width:82px; HEIGHT: 16px; FONT-VARIANT: normal
}
INPUT.Sytle_auto {
	BORDER-RIGHT: #A2BCC5 1px solid; BORDER-TOP: #A2BCC5 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #A2BCC5 1px solid; LINE-HEIGHT: normal; BORDER-BOTTOM: #A2BCC5 1px solid; FONT-STYLE: normal; HEIGHT: 16px; FONT-VARIANT: normal
}
INPUT.Style_subject {
	BORDER-RIGHT: #A2BCC5 1px solid; BORDER-TOP: #A2BCC5 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #A2BCC5 1px solid; LINE-HEIGHT: normal; BORDER-BOTTOM: #A2BCC5 1px solid; FONT-STYLE: normal; HEIGHT: 18px; Width: 390px; FONT-VARIANT: normal
}
INPUT.Style_button_del {
	BORDER-RIGHT: #527184 1px solid; BORDER-TOP: #527184 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #A2BCC5; BORDER-LEFT: #527184 1px solid; COLOR: #ffffff; LINE-HEIGHT: normal; BORDER-BOTTOM: #527184 1px solid; FONT-STYLE: normal; HEIGHT: 17px;width: 100px; FONT-VARIANT: normal
}
INPUT.Style_nj {
	BORDER-RIGHT: #A2BCC5 1px solid; BORDER-TOP: #A2BCC5 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #A2BCC5 1px solid; LINE-HEIGHT: normal; BORDER-BOTTOM: #A2BCC5 1px solid; FONT-STYLE: normal; HEIGHT: 18px; Width: 362px; FONT-VARIANT: normal
}
INPUT.Style_upload {
	BORDER-RIGHT: #A2BCC5 1px solid; BORDER-TOP: #A2BCC5 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #A2BCC5 1px solid; LINE-HEIGHT: normal; BORDER-BOTTOM: #A2BCC5 1px solid; FONT-STYLE: normal; HEIGHT: 18px; Width: 290px; FONT-VARIANT: normal
}
INPUT.Style_button_P {
	BORDER-RIGHT: #527184 1px solid; BORDER-TOP: #527184 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #A2BCC5; BORDER-LEFT: #527184 1px solid; COLOR: #ffffff; LINE-HEIGHT: normal; BORDER-BOTTOM: #527184 1px solid; FONT-STYLE: normal; HEIGHT: 17px;width: 60px; FONT-VARIANT: normal
}
-->
