<meta http-equiv="Content-Type" content="text/html; charset=gb2312">

body {/*设置页面属性*/
	margin-left: 0px;
	margin-top: 0px;
	font-size: 9pt;
}
td {font-size: 9pt;	line-height:150%;}/*设置单元格样式*/
input {/*设置input标记的样式*/
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
a {/*设置超链接标记的样式*/
	font-size: 9pt;	text-decoration: none;	color: #0000FF;
}
a:hover {/*设置鼠标悬停于超链接的样式*/
	font-size: 9pt;	color: #FFC000;
}
.btn_grey {/*设置按钮的样式*/
	font-family: "宋体";	font-size: 9pt;color: #333333;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FFFFFF;border-right:1px solid #666666;
	border-bottom: 1px solid #666666;border-left: 1px solid #FFFFFF;
}
.txt_grey {/*设置文本框的样式*/
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
	width:110;
	font-weight: normal;
}
.wenbenkuang {/*设置多行文本框的样式*/
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
.search  { font-family: 宋体; font-size: 9pt; color: #000000; background-color: #EEEEEE; 
           border: 1px Hidden #000000; }
